#list{
        background-color:azure;
    }

    #targer{

        background-color:aqua;
    }
    
	.common{
		background-color:rgb(120, 247, 66);
		margin:%;
		}
	
	.commonBorder{
	border:2px solid rgb(52, 122, 22);
	}
	
	#image{
	text-align:center;}
	
	h2{
	text-align}